body {
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    background-color: goldenrod;
    color: #f5f5f5;
    width: 300px;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    bottom: -5px;
    padding: 0.15px;
}

form {
    margin: auto;
    width: 300px;
    height: 250px;
    background-color: gainsboro;
    border-radius: 5px;
}

form label {
    display: none;
}

form input {
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

form button {
    border: none;
    background-color: dodgerblue;
    color: #f5f5f5;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 10px;
    font-weight: 900;
}

form button:hover {
    background-color: rgb(9, 106, 202);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: goldenrod;
}

a:hover {
    color: rgb(181, 134, 14);
}

.loginForm {
    height: 175px;
}